.btn {
  padding: 31px 69px;
  min-width: 497px;

  display: inline-block;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 42px;

  text-align: center;
  text-decoration: none;

  color: #fff;
  background-color: #FF2D2D;
  border-radius: 6px;
}